@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
	background-color: rgb(82, 86, 89);
}

body {
	background-color: white;
	box-shadow: 0 0 5px;
	line-height: 1.5;
	margin: 40px auto 10px;
	max-width: 600px;
	padding: 40px 80px 40px;
}

h2 {
	margin: 0;
}

h2 em {
	display: inline-block;
}

ul.primary-info {
	list-style: disc;
}

ul {
	margin-bottom: 30px;
	margin-top: 5px;
}

p, li {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	letter-spacing: .2px;
}

li {
	padding: 1px 0;
}


h1 {
	color: rgb(247, 115, 115);
}

.role {
	font-family: inherit;
	font-style: italic;
	font-weight: lighter;
}

.date {
	font-family: inherit;
	font-size: small;
	font-style: italic;
	font-weight: light;
}

@media (max-width: 750px) {
	body {
		margin: 0 auto;
		padding: calc(10vw) calc(10vw); 
	}
}

@media (max-device-width: 750px) {
	body {
		margin: 0 auto;
		padding: calc(10vw) calc(10vw);
	}
}
